USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_query_top50_washing]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 09/06/2026
-- Description:	query tray_log มาแสดงเวลาสแกนขาเข้าและออก
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_query_top50_washing]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 50
        l.tag_id,
        l.barcode,
        l.tray_no,
        l.tray_qty,
        l.sub_process,
        l.operator,
        l.created_at,
        -- join จาก tb_rfid_lot
        lot.lot_no,
        lot.part_no,
        lot.quantity,
        lot.tray_counter
    FROM tb_rfid_tray_log l
    LEFT JOIN tb_rfid_lot lot ON l.barcode = lot.barcode
    WHERE l.sub_process = 'after_washing'
    ORDER BY l.created_at DESC
END
GO
