USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_log_query_top100_history]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 29/05/2026
-- Description:	query log top100
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_log_query_top100_history]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id]
      ,[sub_process]
      ,[barcode]
      ,[lot_no]
      ,[material_no]
      ,[part_no]
      ,[machine_no]
      ,[process_code]
      ,[process]
      ,[coil]
      ,[ir_diameter]
      ,[rw_diameter]
      ,[process_date]
      ,[quantity]
      ,[tray_qty]
      ,[tray_counter]
	  ,[tray_done]
      ,location
      ,updated_at
  FROM [db_nht_washing_rfid_1].[dbo].[tb_rfid_log]
  ORDER BY updated_at desc;
END
GO
