USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_as400_log_update_status]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 15/07/2026
-- Edit date: 23/07/2026
-- Description:	update status as400 success
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_as400_log_update_status]
    @id           INT,
    @status       VARCHAR(20),
    @error_msg    VARCHAR(500) = NULL,
    @response_msg VARCHAR(500) = NULL
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        UPDATE tb_rfid_as400_log
        SET status       = @status,
            error_msg    = ISNULL(@error_msg, error_msg),
            response_msg = ISNULL(@response_msg, response_msg)
        WHERE id = @id
        SELECT 'OK' AS result
        COMMIT
    END TRY
    BEGIN CATCH
        ROLLBACK
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
--ALTER PROCEDURE [dbo].[Stored_tb_rfid_as400_log_update_status]
--	-- Add the parameters for the stored procedure here
--	@id        INT,
--    @status    VARCHAR(20),
--    @error_msg VARCHAR(500) = NULL
--AS
--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
--	SET NOCOUNT ON;

--    BEGIN TRANSACTION
--	BEGIN TRY
--		UPDATE tb_rfid_as400_log
--		SET
--			status = @status,
--			error_msg = ISNULL(@error_msg,error_msg)
--		WHERE id = @id
--		SELECT 'OK' as result
--		COMMIT
--	END TRY
--	BEGIN CATCH
--		ROLLBACK
--		SELECT ERROR_MESSAGE() as result
--	END CATCH
--END
GO
