USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_mock_job_ticket_select]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 03/08/2026
-- Description:	Mock JobTicket
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_mock_job_ticket_select]
    @barcode VARCHAR(50)
AS
BEGIN
    SELECT
        job_ticket_no   AS jobTicketNo,
        lot_no          AS lotNo,
        material_lot    AS materialLot,
        part_no         AS partNo,
        machine_number  AS machineNumber,
        process_code    AS processCode,
        process         AS process,
        coil            AS coil,
        rw_diameter     AS rwDiameter,
        id_diameter     AS idDiameter,
        date            AS date,
        quantity        AS quantity
    FROM tb_mock_job_ticket
    WHERE job_ticket_no = @barcode
END
GO
