USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_mock_job_ticket]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_mock_job_ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_ticket_no] [varchar](50) NULL,
	[lot_no] [varchar](50) NULL,
	[material_lot] [varchar](50) NULL,
	[part_no] [varchar](50) NULL,
	[machine_number] [varchar](50) NULL,
	[process_code] [varchar](20) NULL,
	[process] [varchar](100) NULL,
	[coil] [varchar](50) NULL,
	[rw_diameter] [varchar](50) NULL,
	[id_diameter] [varchar](50) NULL,
	[date] [date] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
