USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_rfid_as400_log]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_rfid_as400_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[track_id] [varchar](30) NULL,
	[api_type] [varchar](30) NULL,
	[event_type] [varchar](50) NULL,
	[machine_no] [varchar](50) NULL,
	[movement_action] [varchar](20) NULL,
	[jobtag] [varchar](30) NULL,
	[process] [varchar](10) NULL,
	[location] [varchar](10) NULL,
	[production_qty] [int] NULL,
	[ng_qty] [int] NULL,
	[status] [varchar](20) NULL,
	[error_msg] [varchar](500) NULL,
	[timestamp] [datetime] NULL,
	[response_msg] [varchar](500) NULL,
 CONSTRAINT [PK__tb_rfid___3213E83FB3A2FA6D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_rfid_as400_log] ADD  CONSTRAINT [DF__tb_rfid_a__ng_qt__67DE6983]  DEFAULT ((0)) FOR [ng_qty]
GO
ALTER TABLE [dbo].[tb_rfid_as400_log] ADD  CONSTRAINT [DF__tb_rfid_a__statu__68D28DBC]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[tb_rfid_as400_log] ADD  CONSTRAINT [DF__tb_rfid_a__times__7908F585]  DEFAULT (getdate()) FOR [timestamp]
GO
