USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_rfid_tray]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_rfid_tray](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag_id] [varchar](50) NULL,
	[barcode] [varchar](30) NULL,
	[tray_no] [int] NULL,
	[tray_qty] [int] NULL,
	[sub_process] [varchar](50) NULL,
	[operator] [varchar](10) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tb_rfid_tray] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_rfid_tray]  WITH CHECK ADD  CONSTRAINT [FK_tb_rfid_tray_tb_rfid_tray] FOREIGN KEY([id])
REFERENCES [dbo].[tb_rfid_tray] ([id])
GO
ALTER TABLE [dbo].[tb_rfid_tray] CHECK CONSTRAINT [FK_tb_rfid_tray_tb_rfid_tray]
GO
