USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_lot_select_by_tagid]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 04/06/2026
-- Description:	select tag rfid to validate machine
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_lot_select_by_tagid]
	-- Add the parameters for the stored procedure here
	@tag_id varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		l.barcode, l.lot_no, l.part_no,
		l.machine_no, l.quantity, l.status,
		l.tray_counter, l.tray_done,
		l.tray_qty AS lot_qty,
		l.sub_process, l.rw_diameter, t.updated_at,
		l.location, t.tray_no,
		t.tray_qty AS tray_qty,
		l.process
	FROM tb_rfid_lot l
	INNER JOIN tb_rfid_tray t ON l.barcode = t.barcode
	WHERE t.tag_id = @tag_id
	AND   t.status = 'Ongoing'
	AND   l.status = 'Ongoing'

		IF @@ROWCOUNT = 0
		BEGIN
			SELECT 'NOT_FOUND' As result
		END
END
GO
