USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_master_tray]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_master_tray](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[part_no] [varchar](50) NOT NULL,
	[pcs_stc] [int] NOT NULL,
	[stc_try] [int] NOT NULL,
	[pcs_try]  AS ([pcs_stc]*[stc_try]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
