USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_lot_query_top50_location]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 13/06/2026
-- Description:	query top 50 pallet update loaction
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_lot_query_top50_location]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT TOP 50
        l.barcode,
        l.sub_process, l.location,
        l.created_at,
        lot.lot_no,    lot.part_no,
        lot.quantity,  lot.tray_counter
    FROM tb_rfid_log l
    LEFT JOIN tb_rfid_lot lot ON l.barcode = lot.barcode
    WHERE l.sub_process = 'before_washing'
    ORDER BY l.created_at DESC
END
GO
