USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_on_machine]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 10/06/2026
-- Description:	update on_machine
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_on_machine]
    @tag_id       VARCHAR(50),
    @machine_no   VARCHAR(50)  = NULL,
    @process_code VARCHAR(10)  = NULL,
    @process      VARCHAR(100) = NULL
AS
BEGIN
    -- เช็คว่า tag มีและ sub_process = after_washing
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE tag_id      = @tag_id
        AND   status      = 'Ongoing'
        AND   sub_process IN ('after_washing','on_machine')
    )
    BEGIN
        SELECT 'NOT_WASHED' AS result
        RETURN
    END

    -- ดึงข้อมูลจาก tb_rfid_tray
    DECLARE @barcode  VARCHAR(50)
    DECLARE @tray_no  INT
    DECLARE @tray_qty INT
    SELECT  @barcode  = barcode,
            @tray_no  = tray_no,
            @tray_qty = tray_qty
    FROM tb_rfid_tray
    WHERE tag_id      = @tag_id
    AND   sub_process IN ('after_washing','on_machine')
    AND   status      = 'Ongoing'

    -- เช็คว่า lot นี้ยังมี tray ที่ยังไม่ผ่าน washing
    IF EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE barcode     = @barcode
        AND   status      = 'Ongoing'
        AND   sub_process NOT IN ('after_washing', 'on_machine', 'completed')
    )
    BEGIN
        SELECT 'LOT_NOT_READY' AS result
        RETURN
    END

    BEGIN TRANSACTION
    BEGIN TRY
        -- UPDATE tb_rfid_tray เป็น on_machine
        UPDATE tb_rfid_tray
        SET sub_process = 'on_machine',
            updated_at  = GETDATE()
        WHERE tag_id = @tag_id
        AND   status = 'Ongoing'

        -- INSERT tb_rfid_tray_log
        INSERT INTO tb_rfid_tray_log (
            tag_id,   barcode,      tray_no,
            tray_qty, sub_process,
            remark,   created_at
        )
        VALUES (
            @tag_id,  @barcode,     @tray_no,
            @tray_qty,'on_machine',
            NULL,     GETDATE()
        )

        -- เช็คว่าครบทุก tray ของ lot ไหม
        DECLARE @tray_counter INT
        DECLARE @tray_on      INT
        SELECT @tray_counter = tray_counter
        FROM tb_rfid_lot
        WHERE barcode = @barcode

        SELECT @tray_on = COUNT(*)
        FROM tb_rfid_tray
        WHERE barcode     = @barcode
        AND   sub_process = 'on_machine'

        -- ครบแล้ว UPDATE tb_rfid_lot INSERT tb_rfid_log
        IF @tray_on = @tray_counter
        BEGIN
            UPDATE tb_rfid_lot
            SET sub_process = 'on_machine',
                updated_at  = GETDATE()
            WHERE barcode = @barcode

            -- INSERT tb_rfid_log
            INSERT INTO tb_rfid_log (
                sub_process,  barcode,
                lot_no,       material_no,   part_no,
                machine_no,   process_code,  process,
                coil,         ir_diameter,   rw_diameter,
                process_date, quantity,      tray_qty,
                tray_counter, tray_done,     status,
                remark,       updated_at,     created_at,
                location
            )
            SELECT
                'on_machine', barcode,
                lot_no,       material_no,   part_no,
                ISNULL(@machine_no,   machine_no),
                ISNULL(@process_code, process_code),
                ISNULL(@process,      process),
                coil,         ir_diameter,   rw_diameter,
                process_date, quantity,      tray_qty,
                tray_counter, tray_counter,  status,
                NULL,         GETDATE(),     created_at,
                location
            FROM tb_rfid_lot
            WHERE barcode = @barcode
        END

        COMMIT TRANSACTION
        IF @tray_on = @tray_counter
            SELECT 'LOT_ON_MACHINE' AS result
        ELSE
            SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END

--   @tag_id VARCHAR(50)
--AS
--BEGIN
--    -- เช็คว่า tag มีและ sub_process = after_washing
--   IF not exists(
--		select 1 from tb_rfid_tray
--		where tag_id	  = @tag_id
--		and	  status	  = 'Ongoing'
--		and	  sub_process = 'after_washing')
--   BEGIN
--		select 'NOT_WASHED' as result
--		return
--   END

--    -- ดึงข้อมูลจาก tb_rfid_tray
--	declare @barcode varchar(50)
--	declare @tray_no int
--	declare @tray_qty int
--	select	@barcode = barcode,
--			@tray_no = tray_no,
--			@tray_qty = tray_qty
--	from tb_rfid_tray where tag_id = @tag_id
--	and sub_process = 'after_washing' and status = 'Ongoing'

--	-- เช็คว่า lot นี้ยังมี tray ที่ยังไม่ผ่าน washing 
--	IF exists(
--		Select 1 from tb_rfid_tray
--		Where barcode = @barcode
--		and status    = 'Ongoing'
--		and sub_process NOT IN ('after_washing','on_machine','completed'))
--	BEGIN
--		SELECT 'LOT_NOT_READY' as result
--		RETURN
--	END
--    BEGIN TRANSACTION
--    BEGIN TRY

--        -- UPDATE tb_rfid_tray เป็น on_machine
--        UPDATE tb_rfid_tray
--        SET
--            sub_process = 'on_machine',
--            updated_at  = GETDATE()
--        WHERE tag_id = @tag_id
--        AND   status = 'Ongoing'

--        -- INSERT tb_rfid_tray_log
--        INSERT INTO tb_rfid_tray_log (
--            tag_id,   barcode,      tray_no,
--            tray_qty, sub_process,
--            remark,   created_at
--        )
--        VALUES (
--            @tag_id,  @barcode,     @tray_no,
--            @tray_qty,'on_machine',
--            NULL,     GETDATE()
--        )

--        -- เช็คว่าครบทุก tray ของ lot ไหม
--        DECLARE @tray_counter   INT
--        DECLARE @tray_on        INT

--        SELECT @tray_counter = tray_counter
--        FROM tb_rfid_lot
--        WHERE barcode = @barcode

--        SELECT @tray_on = COUNT(*)
--        FROM tb_rfid_tray
--        WHERE barcode     = @barcode
--        AND   sub_process = 'on_machine'

--        -- UPDATE tb_rfid_lot เป็น on_machine
--        IF @tray_on = @tray_counter
--        BEGIN
--            UPDATE tb_rfid_lot
--            SET
--                sub_process = 'on_machine',
--                updated_at  = GETDATE()
--            WHERE barcode = @barcode

--            -- INSERT tb_rfid_log
--            INSERT INTO tb_rfid_log (
--                sub_process,  barcode,
--                lot_no,       material_no,   part_no,
--                machine_no,   process_code,  process,
--                coil,         ir_diameter,   rw_diameter,
--                process_date, quantity,      tray_qty,
--                tray_counter, tray_done,     status,
--                remark,       update_at,     created_at,
--				location
--            )
--            SELECT
--                'on_machine', barcode,
--                lot_no,       material_no,   part_no,
--                machine_no,   process_code,  process,
--                coil,         ir_diameter,   rw_diameter,
--                process_date, quantity,      tray_qty,
--                tray_counter, tray_counter,  status,
--                NULL,         GETDATE(),     created_at,
--				location
--            FROM tb_rfid_lot
--            WHERE barcode = @barcode
--        END

--        COMMIT TRANSACTION
--        SELECT 'OK' AS result

--    END TRY
--    BEGIN CATCH
--        ROLLBACK TRANSACTION
--        SELECT ERROR_MESSAGE() AS result
--    END CATCH
--END

--@tag_id VARCHAR(50)
--AS
--BEGIN
--    -- เช็คว่า tag มีใน tb_rfid_tray และ after_washing ไหม
--    IF NOT EXISTS (
--        SELECT 1 FROM tb_rfid_tray
--        WHERE tag_id      = @tag_id
--        AND   sub_process = 'after_washing'
--        AND   status      = 'Ongoing'
--    )
--    BEGIN
--        SELECT 'NOT_WASHED' AS result
--        RETURN
--    END

--    -- ดึง barcode จาก tag นี้
--    DECLARE @barcode VARCHAR(50)

--    SELECT @barcode = barcode
--    FROM tb_rfid_tray
--    WHERE tag_id      = @tag_id
--    AND   sub_process = 'after_washing'
--    AND   status      = 'Ongoing'

--    BEGIN TRANSACTION
--    BEGIN TRY

--        -- UPDATE ทุก tray ของ lot นี้ → on_machine
--        UPDATE tb_rfid_tray
--        SET
--            sub_process = 'on_machine',
--            updated_at  = GETDATE()
--        WHERE barcode     = @barcode
--        AND   sub_process = 'after_washing'
--        AND   status      = 'Ongoing'

--        -- INSERT tb_rfid_tray_log ทุก tray
--        INSERT INTO tb_rfid_tray_log (
--            tag_id,   barcode,     tray_no,
--            tray_qty, sub_process,
--            remark,   created_at
--        )
--        SELECT
--            tag_id,   barcode,     tray_no,
--            tray_qty, 'on_machine',
--            NULL,     GETDATE()
--        FROM tb_rfid_tray
--        WHERE barcode     = @barcode
--        AND   sub_process = 'on_machine'

--        -- UPDATE tb_rfid_lot → on_machine
--        UPDATE tb_rfid_lot
--        SET
--            sub_process = 'on_machine',
--            updated_at  = GETDATE()
--        WHERE barcode = @barcode

--        -- INSERT tb_rfid_log
--        INSERT INTO tb_rfid_log (
--            sub_process,  barcode,
--            lot_no,       material_no,   part_no,
--            machine_no,   process_code,  process,
--            coil,         ir_diameter,   rw_diameter,
--            process_date, quantity,      tray_qty,
--            tray_counter, tray_done,     status,
--            remark,       update_at,     created_at
--        )
--        SELECT
--            'on_machine', barcode,
--            lot_no,       material_no,   part_no,
--            machine_no,   process_code,  process,
--            coil,         ir_diameter,   rw_diameter,
--            process_date, quantity,      tray_qty,
--            tray_counter, tray_counter,  status,
--            NULL,         GETDATE(),     GETDATE()
--        FROM tb_rfid_lot
--        WHERE barcode = @barcode

--        COMMIT TRANSACTION
--        SELECT 'OK' AS result

--    END TRY
--    BEGIN CATCH
--        ROLLBACK TRANSACTION
--        SELECT ERROR_MESSAGE() AS result
--    END CATCH
--END
GO
