USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_login_setting_insert]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 15/08/2026
-- Description:	Login setting reader config
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_login_setting_insert]
	-- Add the parameters for the stored procedure here
	@emp_id varchar(10),
	@eng_name varchar(100),
	@password varchar(50),
	@position varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into tb_rfid_login_setting(
	emp_id, eng_name, password, position)
	Values(
	@emp_id, @eng_name, @password, @position)

END
GO
