USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_count_washing]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 23/06/2026
-- Description:	หน้า Machine Validation ให้ tag ผ่าน washing ให้ครบก่อนโดยนับทีละอันหลังจากผ่าน washing
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_count_washing]
	-- Add the parameters for the stored procedure here
		@barcode varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		COUNT(CASE WHEN sub_process = 'after_washing' THEN 1 END) as after_washing_done,
		COUNT(CASE WHEN sub_process = 'on_machine' THEN 1 END) as on_machine_done,
		COUNT(CASE WHEN sub_process = 'completed' THEN 1 END) as completed_done,
		COUNT(*) as total
		FROM tb_rfid_tray WHERE @barcode = barcode
		AND status = 'Ongoing'
END
GO
