USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_as400_log_insert]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 15/07/2026
-- Description:	Insert log As400
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_as400_log_insert]
	-- Add the parameters for the stored procedure here
	@track_id        VARCHAR(30),
    @api_type        VARCHAR(30),
    @event_type      VARCHAR(50),
    @machine_no      VARCHAR(50),
    @movement_action VARCHAR(20),
    @jobtag          VARCHAR(30),
    @process         VARCHAR(10),
    @location        VARCHAR(10),
    @production_qty  INT,
    @ng_qty          INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO tb_rfid_as400_log(
			track_id, api_type, event_type,
			machine_no, movement_action, jobtag,
			process, location, production_qty,
			ng_qty, status, timestamp
		)
		VALUES(
			@track_id, @api_type, @event_type,
			@machine_no, @movement_action, @jobtag,
			@process, @location, @production_qty,
			@ng_qty, 'PENDING', GETDATE()
		)

		SELECT SCOPE_IDENTITY() as id, 'OK' as result

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT -1 as id, ERROR_MESSAGE() as result
	END CATCH
END
GO
