USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_lot_update_location]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 12/06/2026
-- Description:	Updated location ลง lot และ log
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_lot_update_location]
    @tag_id   VARCHAR(50),
    @location VARCHAR(20)
AS
BEGIN
    -- เช็คว่า tag มีใน tb_rfid_tray และ Ongoing ไหม
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE tag_id      = @tag_id
        AND   status      = 'Ongoing'
        AND   sub_process IN ('registered', 'before_washing')
    )
    BEGIN
        SELECT 'NOT_READY' AS result
        RETURN
    END

    -- ดึง barcode จาก tag นี้
    DECLARE @barcode VARCHAR(50)

    SELECT @barcode = barcode
    FROM tb_rfid_tray
    WHERE tag_id      = @tag_id
    AND   status      = 'Ongoing'
    AND   sub_process IN ('registered', 'before_washing')

	-- เช็คว่า register ครบทุก tray หรือยัง
	DECLARE @tray_counter INT
	DECLARE @tray_done    INT
	SELECT @tray_counter = tray_counter, @tray_done = tray_done
	FROM tb_rfid_lot
	WHERE barcode = @barcode

	IF @tray_done < @tray_counter
	BEGIN
		SELECT 'TRAY_NOT_COMPLETE' AS result
		RETURN
	END

    -- เตรียมตัวแปรสำหรับส่งคืนผลลัพธ์ไปที่ Node.js
    DECLARE @return_result VARCHAR(20) = 'OK';

    BEGIN TRANSACTION
    BEGIN TRY

		-- UPDATE tb_rfid_tray before_washing
        UPDATE tb_rfid_tray
        SET
            sub_process = 'before_washing',
            updated_at  = GETDATE()
        WHERE barcode     = @barcode
        AND   sub_process IN ('registered', 'before_washing')
        AND   status      = 'Ongoing'

        -- UPDATE location ใน tb_rfid_lot
        UPDATE tb_rfid_lot
        SET
			sub_process = 'before_washing',
            location   = @location,
            updated_at = GETDATE()
        WHERE barcode = @barcode
        AND   status  = 'Ongoing'

		-- ทำดักเวลา Scan Reader update location ที่เดิมซ้ำๆ
		DECLARE @lastlocation VARCHAR(10);
		SELECT TOP 1 @lastlocation = location
		FROM tb_rfid_log 
		WHERE barcode = @barcode 
		ORDER BY updated_at DESC; 

		IF @lastlocation IS NULL OR @lastlocation <> @location
		BEGIN
            -- INSERT tb_rfid_log
            INSERT INTO tb_rfid_log (
                sub_process,      barcode,
                lot_no,           material_no,   part_no,
                machine_no,       process_code,  process,
                coil,             ir_diameter,   rw_diameter,
                process_date,     quantity,      tray_qty,
                tray_counter,     tray_done,     status,
                location,         remark,        updated_at,
                created_at
            )
            SELECT
                'before_washing', barcode,
                lot_no,           material_no,   part_no,
                machine_no,       process_code,  process,
                coil,             ir_diameter,   rw_diameter,
                process_date,     quantity,      tray_qty,
                tray_counter,     tray_done,     status,
                @location,        NULL,          GETDATE(),
                created_at
            FROM tb_rfid_lot
            WHERE barcode = @barcode

		    -- Insert tb_rfid_tray_log
		    INSERT INTO tb_rfid_tray_log (
			    tag_id,   barcode,          tray_no,
			    tray_qty, sub_process,      operator,
			    remark,   created_at
		    )
		    SELECT
			    tag_id,   barcode,          tray_no,
			    tray_qty, 'before_washing', NULL,
			    NULL,     GETDATE()
		    FROM tb_rfid_tray
		    WHERE barcode     = @barcode
		    AND   sub_process = 'before_washing'
		    AND   status      = 'Ongoing'
		END
        ELSE
        BEGIN
            SET @return_result = 'DUPLICATE_LOCATION';
        END

        COMMIT TRANSACTION
        SELECT @return_result AS result

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
--ALTER PROCEDURE [dbo].[Stored_tb_rfid_lot_update_location]
--    @tag_id   VARCHAR(50),
--    @location VARCHAR(20)
--AS
--BEGIN
--    -- เช็คว่า tag มีใน tb_rfid_tray และ Ongoing ไหม
--    IF NOT EXISTS (
--        SELECT 1 FROM tb_rfid_tray
--        WHERE tag_id      = @tag_id
--        AND   status      = 'Ongoing'
--        AND   sub_process IN ('registered', 'before_washing')
--    )
--    BEGIN
--        SELECT 'NOT_READY' AS result
--        RETURN
--    END

--    -- ดึง barcode จาก tag นี้
--    DECLARE @barcode VARCHAR(50)

--    SELECT @barcode = barcode
--    FROM tb_rfid_tray
--    WHERE tag_id      = @tag_id
--    AND   status      = 'Ongoing'
--    AND   sub_process IN ('registered', 'before_washing')

--	-- เช็คว่า register ครบทุก tray หรือยัง
--	DECLARE @tray_counter INT
--	DECLARE @tray_done    INT
--	SELECT @tray_counter = tray_counter, @tray_done = tray_done
--	FROM tb_rfid_lot
--	WHERE barcode = @barcode

--	IF @tray_done < @tray_counter
--	BEGIN
--		SELECT 'TRAY_NOT_COMPLETE' AS result
--		RETURN
--	END

--    BEGIN TRANSACTION
--    BEGIN TRY

--		-- UPDATE tb_rfid_tray before_washing
--        UPDATE tb_rfid_tray
--        SET
--            sub_process = 'before_washing',
--            updated_at  = GETDATE()
--        WHERE barcode     = @barcode
--        AND   sub_process IN ('registered', 'before_washing')
--        AND   status      = 'Ongoing'

--        -- UPDATE location ใน tb_rfid_lot
--        UPDATE tb_rfid_lot
--        SET
--			sub_process = 'before_washing',
--            location   = @location,
--            updated_at = GETDATE()
--        WHERE barcode = @barcode
--        AND   status  = 'Ongoing'

--        -- INSERT tb_rfid_log
--        INSERT INTO tb_rfid_log (
--            sub_process,      barcode,
--            lot_no,           material_no,   part_no,
--            machine_no,       process_code,  process,
--            coil,             ir_diameter,   rw_diameter,
--            process_date,     quantity,      tray_qty,
--            tray_counter,     tray_done,     status,
--            location,         remark,        update_at,
--            created_at
--        )
--        SELECT
--            'before_washing', barcode,
--            lot_no,           material_no,   part_no,
--            machine_no,       process_code,  process,
--            coil,             ir_diameter,   rw_diameter,
--            process_date,     quantity,      tray_qty,
--            tray_counter,     tray_done,     status,
--            @location,        NULL,          GETDATE(),
--            created_at
--        FROM tb_rfid_lot
--        WHERE barcode = @barcode

--		-- Insert tb_rfid_tray_log
--		INSERT INTO tb_rfid_tray_log (
--			tag_id,   barcode,          tray_no,
--			tray_qty, sub_process,      operator,
--			remark,   created_at
--		)
--		SELECT
--			tag_id,   barcode,          tray_no,
--			tray_qty, 'before_washing', NULL,
--			NULL,     GETDATE()
--		FROM tb_rfid_tray
--		WHERE barcode     = @barcode
--		AND   sub_process = 'before_washing'
--		AND   status      = 'Ongoing'

--        COMMIT TRANSACTION
--        SELECT 'OK' AS result

--    END TRY
--    BEGIN CATCH
--        ROLLBACK TRANSACTION
--        SELECT ERROR_MESSAGE() AS result
--    END CATCH
--END
GO
