USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_mock_machine_select]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 03/08/2026
-- Description:	Mock Machine_NO
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_mock_machine_select]
AS
BEGIN
    SELECT
        machine_no_prod  AS machineNoProd,
        machine_no       AS machineNo,
        spec_wos         AS specWos,
        wos_barcode      AS wosBarcode,
        bearing_no       AS bearingNo,
        bg_rt            AS bgRt,
        specification    AS specification,
        outer_ring_part  AS outerRingPart,
        inner_ring_part  AS innerRingPart,
        operation_date   AS operationDate,
        ball             AS ball,
        retainer         AS retainer,
        shield           AS shield,
        grease1          AS grease1,
        grease2          AS grease2,
        group_series     AS groupSeries,
        series           AS series,
        group_part       AS groupPart,
        order_no         AS orderNo,
        customer         AS customer,
        lubrication_side AS lubricationSide,
        washing_oil      AS washingOil,
        rp               AS rp
    FROM tb_mock_machine
END
GO
