USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_lot_insert]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 27/05/26
-- Description:	ดึง api มาลงฐานข้อมูล
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_lot_insert]
    @barcode      VARCHAR(50),
    @lot_no       VARCHAR(50)  = NULL,
    @material_no  VARCHAR(50)  = NULL,
    @part_no      VARCHAR(50)  = NULL,
    @machine_no   VARCHAR(50)  = NULL,
    @process_code VARCHAR(50)  = NULL,
    @process      VARCHAR(100) = NULL,
    @coil         VARCHAR(50)  = NULL,
    @ir_diameter  VARCHAR(50)  = NULL,
    @rw_diameter  VARCHAR(50)  = NULL,
    @process_date DATETIME     = NULL,
    @quantity     INT          = NULL,
    @operator     VARCHAR(50)
AS
BEGIN
    -- เช็ค barcode ซ้ำ Ongoing
		IF EXISTS (
		SELECT 1 FROM tb_rfid_lot
		WHERE barcode = @barcode
		AND   status  = 'Ongoing'
	)
	BEGIN
		-- เช็คว่ายังสแกน tag ไม่ครบ
		IF EXISTS (
			SELECT 1 FROM tb_rfid_lot
			WHERE barcode     = @barcode
			AND   status      = 'Ongoing'
			AND   tray_done   < tray_counter
		)
		BEGIN
			-- resume ต่อได้เลย return ข้อมูลกลับไป
			SELECT
				'RESUME'      AS result,
				tray_counter,
				tray_done,
				tray_qty
			FROM tb_rfid_lot
			WHERE barcode = @barcode
			RETURN
		END

		SELECT 'BARCODE_IN_USE' AS result
		RETURN
	END

    -- pcs_try จาก master_tray
    DECLARE @pcs_try      INT
    DECLARE @tray_counter INT

    SELECT @pcs_try = pcs_try
    FROM tb_master_tray
    WHERE part_no = @part_no

    -- ถ้าไม่เจอ part_no
    IF @pcs_try IS NULL
    BEGIN
        SELECT 'PART_NOT_FOUND' AS result
        RETURN
    END

    -- คำนวณ tray_counter
    SET @tray_counter = CEILING(CAST(@quantity AS FLOAT) / @pcs_try)

    BEGIN TRANSACTION
    BEGIN TRY

        -- INSERT tb_rfid_lot
        INSERT INTO tb_rfid_lot (
            barcode,      sub_process,  lot_no,
            material_no,  part_no,      machine_no,
            process_code, process,      coil,
            ir_diameter,  rw_diameter,  process_date,
            quantity,     tray_qty,     tray_counter,
            tray_done,    status,
            created_at,   updated_at
        )
        VALUES (
            @barcode,     'waiting_register',         @lot_no,
            @material_no, @part_no,     @machine_no,
            @process_code,@process,     @coil,
            @ir_diameter, @rw_diameter, @process_date,
            @quantity,    @pcs_try,     @tray_counter,
            0,            'Ongoing',
            GETDATE(),    GETDATE()
        )

        -- INSERT tb_rfid_log
        INSERT INTO tb_rfid_log (
            sub_process,  barcode,
            lot_no,       material_no,  part_no,
            machine_no,   process_code, process,
            coil,         ir_diameter,  rw_diameter,
            process_date, quantity,     tray_qty,
            tray_counter, tray_done,    status,
            operator,     remark,       updated_at,
            created_at
        )
        VALUES (
            'waiting_register',  @barcode,
            @lot_no,      @material_no, @part_no,
            @machine_no,  @process_code,@process,
            @coil,        @ir_diameter, @rw_diameter,
            @process_date,@quantity,    @pcs_try,
            @tray_counter,0,            'Ongoing',
            @operator,    NULL,         GETDATE(),
            GETDATE()
        )

        COMMIT TRANSACTION
        SELECT 'OK' AS result, @tray_counter AS tray_counter, @pcs_try AS tray_qty

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
