USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_completed]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 10/06/2026
-- Description:	completed และ clear tag
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_completed]
--@tag_id       VARCHAR(50),
--    @machine_no   VARCHAR(50)  = NULL,
--    @process_code VARCHAR(10)  = NULL,
--    @process      VARCHAR(100) = NULL
--AS
--BEGIN
--    -- เช็คว่า tag มีและ sub_process = on_machine
--    IF NOT EXISTS (
--        SELECT 1 FROM tb_rfid_tray
--        WHERE tag_id      = @tag_id
--        AND   sub_process = 'on_machine'
--        AND   status      = 'Ongoing'
--    )
--    BEGIN
--        SELECT 'NOT_ON_MACHINE' AS result
--        RETURN
--    END

--    -- ดึงข้อมูลจาก tb_rfid_tray
--    DECLARE @barcode  VARCHAR(50)
--    DECLARE @tray_no  INT
--    DECLARE @tray_qty INT
--    SELECT
--        @barcode  = barcode,
--        @tray_no  = tray_no,
--        @tray_qty = tray_qty
--    FROM tb_rfid_tray
--    WHERE tag_id      = @tag_id
--    AND   sub_process = 'on_machine'
--    AND   status      = 'Ongoing'

--    BEGIN TRANSACTION
--    BEGIN TRY
--        -- UPDATE tray นี้เป็น completed
--        UPDATE tb_rfid_tray
--        SET sub_process = 'completed',
--            updated_at  = GETDATE()
--        WHERE tag_id = @tag_id
--        AND   status = 'Ongoing'

--        -- INSERT tray log
--        INSERT INTO tb_rfid_tray_log (
--            tag_id, barcode, tray_no, tray_qty,
--            sub_process, operator, remark, created_at
--        )
--        VALUES (
--            @tag_id, @barcode, @tray_no, @tray_qty,
--            'completed', NULL, NULL, GETDATE()
--        )

--        -- เช็คว่าทุก tray ใน lot นี้ completed หรือยัง
--        DECLARE @remaining INT
--        SELECT @remaining = COUNT(*)
--        FROM tb_rfid_tray
--        WHERE barcode     = @barcode
--        AND   status      = 'Ongoing'
--        AND   sub_process != 'completed'

--        UPDATE tb_rfid_tray
--        SET sub_process = 'completed',
--            status      = 'Completed',
--            updated_at  = GETDATE()
--        WHERE tag_id  = @tag_id
--        AND   barcode = @barcode
--        AND   status  = 'Ongoing'

--        IF @remaining = 0
--        BEGIN
--            -- ทุก tray completed UPDATE tb_rfid_lot
--            UPDATE tb_rfid_lot
--            SET sub_process = 'completed',
--                status      = 'Completed',
--                updated_at  = GETDATE()
--            WHERE barcode = @barcode
--            AND   status  = 'Ongoing'

--            -- INSERT tb_rfid_log
--            INSERT INTO tb_rfid_log (
--                sub_process, barcode, lot_no, material_no, part_no,
--                machine_no,   process_code,  process,
--                coil, ir_diameter, rw_diameter, process_date,
--                quantity, tray_qty, tray_counter, tray_done,
--                status, location, remark, update_at, created_at
--            )
--            SELECT
--                'completed', barcode, lot_no, material_no, part_no,
--                ISNULL(@machine_no,   machine_no),
--                ISNULL(@process_code, process_code),
--                ISNULL(@process,      process),
--                coil, ir_diameter, rw_diameter, process_date,
--                quantity, tray_qty, tray_counter, tray_done,
--                'Completed', location, NULL, GETDATE(), GETDATE()
--            FROM tb_rfid_lot
--            WHERE barcode = @barcode

--            COMMIT TRANSACTION
--            SELECT 'LOT_COMPLETED' AS result
--        END
--        ELSE
--        BEGIN
--            COMMIT TRANSACTION
--            SELECT 'OK' AS result
--        END
--    END TRY
--    BEGIN CATCH
--        ROLLBACK TRANSACTION
--        SELECT ERROR_MESSAGE() AS result
--    END CATCH
--END
    @tag_id VARCHAR(50)
AS
BEGIN
    -- เช็คว่า tag มีและ sub_process = on_machine
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE tag_id      = @tag_id
        AND   sub_process = 'on_machine'
        AND   status      = 'Ongoing'
    )
    BEGIN
        SELECT 'NOT_ON_MACHINE' AS result
        RETURN
    END

    -- ดึงข้อมูลจาก tb_rfid_tray
    DECLARE @barcode  VARCHAR(50)
    DECLARE @tray_no  INT
    DECLARE @tray_qty INT
    SELECT
        @barcode  = barcode,
        @tray_no  = tray_no,
        @tray_qty = tray_qty
    FROM tb_rfid_tray
    WHERE tag_id      = @tag_id
    AND   sub_process = 'on_machine'
    AND   status      = 'Ongoing'

    BEGIN TRANSACTION
    BEGIN TRY
        -- UPDATE tray นี้เป็น completed
        UPDATE tb_rfid_tray
        SET sub_process = 'completed',
		updated_at  = GETDATE()
        WHERE tag_id = @tag_id
        AND   status = 'Ongoing'

        -- INSERT tray log
        INSERT INTO tb_rfid_tray_log (
            tag_id, barcode, tray_no, tray_qty,
            sub_process, operator, remark, created_at
        )
       VALUES (
            @tag_id, @barcode, @tray_no, @tray_qty,
            'completed', NULL, NULL, GETDATE()
        )

        -- เช็คว่าทุก tray ใน lot นี้ completed หรือยัง
        DECLARE @remaining INT
        SELECT @remaining = COUNT(*)
        FROM tb_rfid_tray
        WHERE barcode     = @barcode
        AND   status      = 'Ongoing'
        AND   sub_process != 'completed'

		UPDATE tb_rfid_tray
        SET sub_process = 'completed',
            status      = 'Completed',
            updated_at  = GETDATE()
        WHERE tag_id  = @tag_id
        AND   barcode = @barcode
        AND   status  = 'Ongoing'

        IF @remaining = 0
        BEGIN
            -- ทุก tray completed UPDATE tb_rfid_lot
            UPDATE tb_rfid_lot
            SET sub_process = 'completed',
                status      = 'Completed',
                updated_at  = GETDATE()
            WHERE barcode = @barcode
            AND   status  = 'Ongoing'

            -- INSERT lot log
            INSERT INTO tb_rfid_log (
                sub_process, barcode, lot_no, material_no, part_no,
                machine_no, process_code, process, coil,
                ir_diameter, rw_diameter, process_date,
                quantity, tray_qty, tray_counter, tray_done,
                status, location, remark, updated_at, created_at
            )
            SELECT TOP 1
                'completed', barcode, lot_no, material_no, part_no,
                machine_no, process_code, process, coil,
                ir_diameter, rw_diameter, process_date,
                quantity, tray_qty, tray_counter, tray_done,
                'Completed', location, NULL, GETDATE(), GETDATE()
            FROM tb_rfid_log
            WHERE barcode = @barcode
			ORDER BY updated_at desc

            COMMIT TRANSACTION
            SELECT 'LOT_COMPLETED' AS result  -- ทุก tray จบ lot จบ
        END
        ELSE
        BEGIN
            COMMIT TRANSACTION
            SELECT 'OK' AS result  -- tray นี้จบแต่ lot ยังไม่จบ
        END

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
