USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_rfid_lot]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_rfid_lot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](30) NULL,
	[sub_process] [varchar](50) NULL,
	[lot_no] [varchar](30) NULL,
	[material_no] [varchar](30) NULL,
	[part_no] [varchar](30) NULL,
	[machine_no] [varchar](30) NULL,
	[process_code] [varchar](30) NULL,
	[process] [varchar](30) NULL,
	[coil] [varchar](30) NULL,
	[ir_diameter] [varchar](30) NULL,
	[rw_diameter] [varchar](30) NULL,
	[process_date] [datetime] NULL,
	[quantity] [int] NULL,
	[tray_qty] [int] NULL,
	[tray_counter] [int] NULL,
	[tray_done] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [varchar](50) NULL,
	[location] [varchar](10) NULL,
 CONSTRAINT [PK_tb_rfid_lot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
