USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_rfid_login_setting]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_rfid_login_setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [varchar](10) NULL,
	[eng_name] [varchar](100) NULL,
	[password] [varchar](50) NULL,
	[position] [varchar](50) NULL,
 CONSTRAINT [PK_tb_rfid_login_setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
