USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_login_check]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 15/08/2026
-- Description:	Login check user/password
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_login_check]
    @emp_id   VARCHAR(10),
    @password VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM tb_rfid_login_setting
        WHERE emp_id   = @emp_id
        AND   password = @password
    )
    BEGIN
        SELECT
            'OK'     AS result,
            emp_id,
            eng_name,
            position
        FROM tb_rfid_login_setting
        WHERE emp_id = @emp_id
    END
    ELSE
    BEGIN
        SELECT 'INVALID' AS result
    END
END
GO
