USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_mock_machine]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_mock_machine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[machine_no_prod] [varchar](50) NULL,
	[machine_no] [varchar](50) NULL,
	[spec_wos] [varchar](50) NULL,
	[wos_barcode] [varchar](50) NULL,
	[bearing_no] [varchar](50) NULL,
	[bg_rt] [varchar](20) NULL,
	[specification] [varchar](50) NULL,
	[outer_ring_part] [varchar](50) NULL,
	[inner_ring_part] [varchar](50) NULL,
	[operation_date] [date] NULL,
	[ball] [varchar](50) NULL,
	[retainer] [varchar](50) NULL,
	[shield] [varchar](50) NULL,
	[grease1] [varchar](50) NULL,
	[grease2] [varchar](50) NULL,
	[group_series] [varchar](50) NULL,
	[series] [varchar](50) NULL,
	[group_part] [varchar](50) NULL,
	[order_no] [varchar](50) NULL,
	[customer] [varchar](100) NULL,
	[lubrication_side] [varchar](50) NULL,
	[washing_oil] [varchar](50) NULL,
	[rp] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
