USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_completed_select_by_tagid]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 15/07/2026
-- Description:	select tagid completed
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_completed_select_by_tagid]
    @tag_id VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON
    SELECT TOP 1
        t.barcode,
        l.machine_no
    FROM tb_rfid_tray t
    INNER JOIN tb_rfid_log l ON t.barcode = l.barcode
    WHERE t.tag_id = @tag_id
    ORDER BY l.updated_at DESC
END
GO
