USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_mock_part_convert]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_mock_part_convert](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[part_no_from] [varchar](50) NOT NULL,
	[part_no_to] [varchar](50) NOT NULL,
	[remark] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
