USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_insert]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 08/06/2026
-- Description:	สมัคร tag แต่ละอัน
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_insert]
    @tag_id   VARCHAR(50),
    @barcode  VARCHAR(50),
    @operator VARCHAR(50)
AS
BEGIN
    -- เช็คว่า barcode นี้มีใน tb_rfid_lot และ Ongoing ไหม
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_lot
        WHERE barcode = @barcode
        AND   status  = 'Ongoing'
    )
    BEGIN
        SELECT 'LOT_NOT_FOUND' AS result
        RETURN
    END

    -- เช็คว่า tag นี้ถูกใช้งานอยู่ไหม
    IF EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE tag_id = @tag_id
        AND   status = 'Ongoing'
    )
    BEGIN
        SELECT 'TAG_IN_USE' AS result
        RETURN
    END

    -- ดึงข้อมูลจาก tb_rfid_lot
    DECLARE @tray_qty     INT
    DECLARE @tray_counter INT
    DECLARE @tray_done    INT
    DECLARE @tray_no      INT
    DECLARE @quantity     INT

    SELECT
        @tray_qty     = tray_qty,
        @tray_counter = tray_counter,
        @tray_done    = tray_done,
        @quantity     = quantity      -- ← ดึง quantity มาด้วย
    FROM tb_rfid_lot
    WHERE barcode = @barcode

    -- เช็คว่า scan tag ครบแล้วไหม
    IF @tray_done >= @tray_counter
    BEGIN
        SELECT 'TRAY_FULL' AS result
        RETURN
    END

    -- tray_no = tray_done + 1
    SET @tray_no = @tray_done + 1

    -- คำนวณ tray_quantity ของ tray นี้
    DECLARE @this_tray_qty INT

    IF @tray_no = @tray_counter
        -- tray สุดท้าย → เอาเศษที่เหลือ
        SET @this_tray_qty = @quantity - (@tray_qty * (@tray_counter - 1))
    ELSE
        -- tray ปกติ → เต็ม tray_qty
        SET @this_tray_qty = @tray_qty

    BEGIN TRANSACTION
    BEGIN TRY

        -- INSERT tb_rfid_tray
        INSERT INTO tb_rfid_tray (
            tag_id,        barcode,          tray_no,
            tray_qty,      sub_process,      status,
            operator,      created_at,       updated_at
        )
        VALUES (
            @tag_id,       @barcode,         @tray_no,
            @this_tray_qty,'registered', 'Ongoing',
            @operator,     GETDATE(),        GETDATE()
        )

        -- UPDATE tray_done + 1 ใน tb_rfid_lot
        UPDATE tb_rfid_lot
        SET
            tray_done  = @tray_done + 1,
            updated_at = GETDATE()
        WHERE barcode = @barcode

        -- ถ้าครบทุก tray → UPDATE sub_process = registered
        IF @tray_done + 1 = @tray_counter
        BEGIN
            UPDATE tb_rfid_lot
            SET
                sub_process = 'registered',
                updated_at  = GETDATE()
            WHERE barcode = @barcode

            -- INSERT tb_rfid_log ตอนครบ
            INSERT INTO tb_rfid_log (
		        sub_process,      barcode,
                lot_no,       material_no,      part_no,
                machine_no,   process_code,     process,
                coil,         ir_diameter,      rw_diameter,
                process_date, quantity,         tray_qty,
                tray_counter, tray_done,        status,
                operator,     remark,           updated_at,
                created_at
            )
            SELECT
                'registered', barcode,
                lot_no,       material_no,      part_no,
                machine_no,   process_code,     process,
                coil,         ir_diameter,      rw_diameter,
                process_date, quantity,         tray_qty,
                tray_counter, tray_counter,     status,
                @operator,    NULL,             GETDATE(),
                GETDATE()
            FROM tb_rfid_lot
            WHERE barcode = @barcode
        END

        -- INSERT tb_rfid_tray_log ทุกครั้งที่ scan tag
        INSERT INTO tb_rfid_tray_log (
            tag_id,        barcode,          tray_no,
            tray_qty,      sub_process,      operator,
            remark,        created_at
        )
        VALUES (
            @tag_id,       @barcode,         @tray_no,
            @this_tray_qty,'registered', @operator,
            NULL,          GETDATE()
        )

        COMMIT TRANSACTION
        SELECT 'OK' AS result

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
