USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_as400_log_check_last_event]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 23/07/2026
-- Description: ป้องกันส่ง api as400 pallet-in , pallet-out ซ้ำ
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_as400_log_check_last_event]
    @jobtag VARCHAR(50)
AS
BEGIN
    SELECT TOP 1 event_type
    FROM tb_rfid_as400_log
    WHERE jobtag = @jobtag
    AND event_type IN ('PALLET_IN', 'PALLET_OUT')
    ORDER BY timestamp DESC
END
GO
