USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_mock_part_convert_select]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 03/08/2026
-- Description:	Mock Machine_NO Convert
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_mock_part_convert_select]
    @part_no_from VARCHAR(50)
AS
BEGIN
    SELECT
        part_no_from  AS partConvertFrom,
        part_no_to    AS partConvertTo
    FROM tb_mock_part_convert
    WHERE part_no_from = @part_no_from
END
GO
