USE [db_nht_washing_rfid_1]
GO
/****** Object:  Table [dbo].[tb_rfid_log]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_rfid_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sub_process] [varchar](50) NULL,
	[barcode] [varchar](30) NULL,
	[lot_no] [varchar](50) NULL,
	[material_no] [varchar](50) NULL,
	[part_no] [varchar](50) NULL,
	[machine_no] [varchar](50) NULL,
	[process_code] [varchar](50) NULL,
	[process] [varchar](50) NULL,
	[coil] [varchar](50) NULL,
	[ir_diameter] [varchar](50) NULL,
	[rw_diameter] [varchar](50) NULL,
	[process_date] [datetime] NULL,
	[quantity] [int] NULL,
	[tray_qty] [int] NULL,
	[tray_counter] [int] NULL,
	[tray_done] [int] NULL,
	[status] [varchar](50) NULL,
	[operator] [nvarchar](50) NULL,
	[remark] [nvarchar](255) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[location] [varchar](10) NULL,
 CONSTRAINT [PK__tb_rfid___3213E83F3EB5B8F2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_rfid_log] ADD  CONSTRAINT [DF__tb_rfid_l__statu__38996AB5]  DEFAULT (getdate()) FOR [updated_at]
GO
