USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_dashboard]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 22/06/2026
-- Edit date 1:	23/06/2026
-- Description:	Dashboard
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_dashboard]
AS
BEGIN
    -- Summary cards
    SELECT
        COUNT(CASE WHEN status = 'Ongoing'   THEN 1 END)                                    AS ongoing_lots,
        COUNT(CASE WHEN status = 'Completed'
              AND CAST(updated_at AS DATE) = CAST(GETDATE() AS DATE) THEN 1 END)            AS completed_today,
        SUM(CASE WHEN status = 'Ongoing' THEN tray_counter ELSE 0 END)                      AS total_trays_ongoing,
        SUM(CASE WHEN status = 'Ongoing' THEN tray_done    ELSE 0 END)                      AS total_trays_done
    FROM tb_rfid_lot

    -- Pipeline lot Ongoing แต่ละอันอยู่ step ไหน 
    SELECT
        l.barcode,
        l.lot_no,
        l.part_no,
        l.sub_process,
        l.location,
        l.tray_done,
        l.tray_counter,
        l.updated_at,
        -- นับ tray แต่ละ sub_process ของ lot นี้จาก tb_rfid_tray
        COUNT(CASE WHEN t.sub_process = 'registered'     THEN 1 END) AS tray_registered,
        COUNT(CASE WHEN t.sub_process = 'before_washing' THEN 1 END) AS tray_before_washing,
        COUNT(CASE WHEN t.sub_process = 'after_washing'  THEN 1 END) AS tray_after_washing,
        COUNT(CASE WHEN t.sub_process = 'on_machine'     THEN 1 END) AS tray_on_machine,
        COUNT(CASE WHEN t.sub_process = 'completed'      THEN 1 END) AS tray_completed
    FROM tb_rfid_lot l
    LEFT JOIN tb_rfid_tray t ON t.barcode = l.barcode
    WHERE l.status = 'Ongoing'
    GROUP BY
        l.barcode, l.lot_no, l.part_no, l.sub_process,
        l.location, l.tray_done, l.tray_counter, l.updated_at
    ORDER BY l.updated_at DESC

    -- Throughput รายชั่วโมงวันนี้
    SELECT
        DATEPART(HOUR, created_at)                                    AS hour,
        COUNT(CASE WHEN sub_process = 'before_washing' THEN 1 END)   AS pallet_count,
        COUNT(CASE WHEN sub_process = 'after_washing'  THEN 1 END)   AS washing_count,
        COUNT(CASE WHEN sub_process = 'on_machine'     THEN 1 END)   AS on_machine_count,
        COUNT(CASE WHEN sub_process = 'completed'      THEN 1 END)   AS completed_count
    FROM tb_rfid_log
    WHERE CAST(created_at AS DATE) = CAST(GETDATE() AS DATE)
    GROUP BY DATEPART(HOUR, created_at)
    ORDER BY hour
END
GO
