USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_employee_login]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 06/06/2026
-- Description:	login เข้าใช้ rfid washing system [ไม่ได้ใช้รอลบ]
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_employee_login]
    @emp_code VARCHAR(20)
AS
BEGIN
    -- เช็คก่อนว่ามีพนักงานนี้ใน EmployeeDB ไหม
    IF NOT EXISTS (
        SELECT 1 
        FROM EmployeeDB.dbo.tb_employee
        WHERE emp_id   = @emp_code
        AND   position = 'washing'
        AND   status_work   = 'work'
    )
    BEGIN
        SELECT 'NOT_FOUND' AS result, NULL AS emp_code, NULL AS name, NULL AS position
        RETURN
    END

    -- ถ้ายังไม่มีใน tb_rfid_employee → INSERT
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_employee 
        WHERE emp_code = @emp_code
    )
    BEGIN
        INSERT INTO tb_rfid_employee (emp_code, name, position, status_work, created_at)
        SELECT emp_id, name, position, status_work, GETDATE()
        FROM EmployeeDB.dbo.tb_employee
        WHERE emp_id = @emp_code
    END
    ELSE
    BEGIN
        -- มีอยู่แล้ว → UPDATE ตาม EmployeeDB
        UPDATE r
        SET
            r.name        = e.name,
            r.position    = e.position,
            r.status_work = e.status_work,
            r.updated_at  = GETDATE()
        FROM tb_rfid_employee r
        JOIN EmployeeDB.dbo.tb_employee e ON r.emp_code = e.emp_id
        WHERE r.emp_code = @emp_code
    END

    -- return ข้อมูลกลับไปให้ React
    SELECT
        'OK'      AS result,
        emp_code,
        name,
        position
    FROM tb_rfid_employee
    WHERE emp_code = @emp_code
END
GO
