USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_query_top50_machine]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 11/06/2026
-- Description:	log on_machine / completed
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_query_top50_machine]
AS
BEGIN
    SELECT TOP 50
        l.tag_id,      l.barcode,
        l.tray_no,     l.tray_qty,
        l.sub_process, l.created_at,
        lot.lot_no,    lot.part_no,
        lot.quantity,  lot.tray_counter
    FROM tb_rfid_tray_log l
    LEFT JOIN tb_rfid_lot lot ON l.barcode = lot.barcode
    WHERE l.sub_process IN ('on_machine', 'completed')
    ORDER BY l.created_at DESC
END
GO
