USE [db_nht_washing_rfid_1]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_rfid_tray_after_washing]    Script Date: 2026-08-03 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 08/06/2026
-- Description:	ขาออก Washing
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_rfid_tray_after_washing]
    @tag_id       VARCHAR(50),
    @machine_no   VARCHAR(50)  = NULL,
    @process_code VARCHAR(10)  = NULL,
    @process      VARCHAR(100) = NULL
AS
BEGIN
    -- เช็คว่า tag มีและ sub_process = before_washing
    IF NOT EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE tag_id      = @tag_id
        AND   status      = 'Ongoing'
        AND   sub_process = 'before_washing'
    )
    BEGIN
        SELECT 'NOT_READY' AS result
        RETURN
    END

    -- ดึงข้อมูลจาก tb_rfid_tray
    DECLARE @barcode  VARCHAR(50)
    DECLARE @tray_no  INT
    DECLARE @tray_qty INT
    SELECT
        @barcode  = barcode,
        @tray_no  = tray_no,
        @tray_qty = tray_qty
    FROM tb_rfid_tray
    WHERE tag_id = @tag_id
    AND   status = 'Ongoing'

    -- เช็คว่า lot นี้ยังมี tray ที่ยังไม่ผ่าน pallet (registered)
    IF EXISTS (
        SELECT 1 FROM tb_rfid_tray
        WHERE barcode     = @barcode
        AND   status      = 'Ongoing'
        AND   sub_process = 'registered'
    )
    BEGIN
        SELECT 'LOT_NOT_READY' AS result
        RETURN
    END

    BEGIN TRANSACTION
    BEGIN TRY
        -- UPDATE tb_rfid_tray after_washing
        UPDATE tb_rfid_tray
        SET sub_process = 'after_washing',
            updated_at  = GETDATE()
        WHERE tag_id = @tag_id
        AND   status = 'Ongoing'

        -- INSERT tb_rfid_tray_log
        INSERT INTO tb_rfid_tray_log (
            tag_id,   barcode,       tray_no,
            tray_qty, sub_process,   operator,
            remark,   created_at
        )
        VALUES (
            @tag_id,  @barcode,      @tray_no,
            @tray_qty,'after_washing',null,
            NULL,     GETDATE()
        )

        -- เช็คว่าครบทุก tray ของ lot ไหม
        DECLARE @tray_counter INT
        DECLARE @tray_out     INT
        SELECT @tray_counter = tray_counter
        FROM tb_rfid_lot WHERE barcode = @barcode

        SELECT @tray_out = COUNT(*)
        FROM tb_rfid_tray
        WHERE barcode     = @barcode
        AND   sub_process = 'after_washing'

        -- ครบแล้ว UPDATE tb_rfid_lot INSERT tb_rfid_log
        IF @tray_out = @tray_counter
        BEGIN
            UPDATE tb_rfid_lot
            SET sub_process = 'after_washing',
                updated_at  = GETDATE()
            WHERE barcode = @barcode

            -- INSERT tb_rfid_log
            INSERT INTO tb_rfid_log (
                sub_process,  barcode,
                lot_no,       material_no,   part_no,
                machine_no,   process_code,  process,
                coil,         ir_diameter,   rw_diameter,
                process_date, quantity,      tray_qty,
                tray_counter, tray_done,     status,
                operator,     remark,        updated_at,
                created_at,   location
            )
            SELECT
                'after_washing', barcode,
                lot_no,          material_no,   part_no,
                ISNULL(@machine_no,   machine_no),
                ISNULL(@process_code, process_code),
                ISNULL(@process,      process),
                coil,            ir_diameter,   rw_diameter,
                process_date,    quantity,      tray_qty,
                tray_counter,    tray_counter,  status,
                null,            NULL,          GETDATE(),
                created_at,      location
            FROM tb_rfid_lot
            WHERE barcode = @barcode
        END

       COMMIT TRANSACTION
        IF @tray_out = @tray_counter
            SELECT 'LOT_WASHED' AS result
        ELSE
            SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END

--    @tag_id VARCHAR(50)
--AS
--BEGIN
--    -- เช็คว่า tag มีและ sub_process = before_washing
--    IF NOT EXISTS (
--        SELECT 1 FROM tb_rfid_tray
--        WHERE tag_id      = @tag_id
--        AND   status      = 'Ongoing'
--        AND   sub_process = 'before_washing'
--    )
--    BEGIN
--        SELECT 'NOT_READY' AS result
--        RETURN
--    END

--    -- ดึงข้อมูลจาก tb_rfid_tray
--    DECLARE @barcode  VARCHAR(50)
--    DECLARE @tray_no  INT
--    DECLARE @tray_qty INT
--    SELECT
--        @barcode  = barcode,
--        @tray_no  = tray_no,
--        @tray_qty = tray_qty
--    FROM tb_rfid_tray
--    WHERE tag_id = @tag_id
--    AND   status = 'Ongoing'

--    -- เช็คว่า lot นี้ยังมี tray ที่ยังไม่ผ่าน pallet (registered)
--    IF EXISTS (
--        SELECT 1 FROM tb_rfid_tray
--        WHERE barcode     = @barcode
--        AND   status      = 'Ongoing'
--        AND   sub_process = 'registered'
--    )
--    BEGIN
--        SELECT 'LOT_NOT_READY' AS result
--        RETURN
--    END
--    BEGIN TRY

--        -- UPDATE tb_rfid_tray → after_washing
--        UPDATE tb_rfid_tray
--        SET
--            sub_process = 'after_washing',
--            updated_at  = GETDATE()
--        WHERE tag_id = @tag_id
--        AND   status = 'Ongoing'

--        -- INSERT tb_rfid_tray_log
--        INSERT INTO tb_rfid_tray_log (
--            tag_id,   
--			barcode,          
--			tray_no,
--            tray_qty, 
--			sub_process,      
--			operator,
--            remark,   
--			created_at
--        )
--        VALUES (
--            @tag_id,  
--			@barcode,         
--			@tray_no,
--            @tray_qty,
--			'after_washing',  
--			null,
--            NULL,     
--			GETDATE()
--        )

--        -- เช็คว่าครบทุก tray ของ lot ไหม
--        DECLARE @tray_counter INT
--        DECLARE @tray_out     INT

--        SELECT @tray_counter = tray_counter
--        FROM tb_rfid_lot
--        WHERE barcode = @barcode

--        SELECT @tray_out = COUNT(*)
--        FROM tb_rfid_tray
--        WHERE barcode     = @barcode
--        AND   sub_process = 'after_washing'

--        -- ครบแล้ว → UPDATE tb_rfid_lot after_washing
--        IF @tray_out = @tray_counter
--        BEGIN
--            UPDATE tb_rfid_lot
--            SET
--                sub_process = 'after_washing',
--                updated_at  = GETDATE()
--            WHERE barcode = @barcode

--            -- INSERT tb_rfid_log
--            INSERT INTO tb_rfid_log (
--                sub_process,      
--				barcode,
--                lot_no,           
--				material_no,   
--				part_no,
--                machine_no,       
--				process_code,  
--				process,
--                coil,             
--				ir_diameter,   
--				rw_diameter,
--                process_date,     
--				quantity,      
--				tray_qty,
--                tray_counter,     
--				tray_done,     
--				status,
--                operator,         
--				remark,        
--				update_at,
--                created_at,
--				location
--            )
--            SELECT
--                'after_washing',  
--				barcode,
--                lot_no,           
--				material_no,   
--				part_no,
--                machine_no,       
--				process_code,  
--				process,
--                coil,             
--				ir_diameter,   
--				rw_diameter,
--                process_date,     
--				quantity,      
--				tray_qty,
--                tray_counter,     
--				tray_counter,  
--				status,
--                null,        
--				NULL,          
--				GETDATE(),
--                created_at,
--				location
--            FROM tb_rfid_lot
--            WHERE barcode = @barcode
--        END

--        COMMIT TRANSACTION
--        SELECT 'OK' AS result

--    END TRY
--    BEGIN CATCH
--        ROLLBACK TRANSACTION
--        SELECT ERROR_MESSAGE() AS result
--    END CATCH
--END
GO
